/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 may 2022, 14:30:29
    Author     : loloberto
*/
body {
   
}
 .inicio{
        display: flex;
        justify-content : center;
        align-items: center;
   } 
    .inicio h3{
        color: #01FF18;
        font-size: 300%;
    }
    .inicio p{
        color: white;
        float:left;
        font-size: 200%;
}
